<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item" [routerLink]="['/']">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>
  <div class="nav-right">
    <a class="nav-item">More projects</a>
  </div>
</nav>

<router-outlet></router-outlet>
