<div mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageSlidesNavPosition]="bottom">
  <div class="welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="columns is-gapless" style="height: 100%;">
        <div class="column" style="padding: 1.5rem 0rem 5rem 5rem;"><!-- add height when gets narrow calc(50% - 24.5px) and remove padding -->
          <section class="hero is-primary is-fullheight content" style="min-height: 100%;">
            <div class="hero-body has-text-centered">
              <div class="container">
                <h1 class="title">
                  Hero title
                </h1>
                <h2 class="subtitle">
                  Hero subtitle
                </h2>
              </div>
            </div>
          </section>
        </div>
        <div class="column" style="padding: 1.5rem 5rem 5rem 0rem;"><!-- add height when gets narrow calc(50% - 24.5px) and remove padding -->
          <section class="hero is-warning is-fullheight content" style="min-height: 100%;">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Hero title
                </h1>
                <h2 class="subtitle">
                  Hero subtitle
                </h2>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="install-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="columns is-multiline" style="height: 100%; padding: 1.5rem 5rem 10rem 5rem;"> <!-- On tablet size add is-gapless and remove padding to add this values padding: 0px 0px 49px 0px -->
        <div class="column is-half" *ngFor="let item of items | async" style="height: 50%;"> <!-- On mobile height set to 25% -->
          <a [routerLink]="['/detail', item.$key]">
          <div class="cover-img" style="height: 100%;" [ngStyle]="{'background-image': 'url(http://placehold.it/350x150)'}"> <!-- 'url(' + item.img + ')' -->
            <div class="flex">
              <div>
                <h1>{{item.title}}</h1>
              </div>
              <div class="text">{{item.subtitle}}</div>
              <div>Arrow</div>
            </div>
          </div>
          </a>
        </div>
        <!--<div class="column has-text-centered">
            <a class="button" [routerLink]="['/projects']">More projects...</a>
        </div>-->
      </div>
    </div>
  </div>
  <div class="section install-section fp-section fp-table">
    <div class="fp-tableCell">
      /about_me
    </div>
  </div>
</div>
