<div mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageSlidesNavPosition]="bottom">
  <div class="welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="columns first-page-container" style="height: 100%;">
        <div class="first-page-left column"><!-- add height when gets narrow calc(50% - 24.5px) and remove padding -->
          <section class="hero is-primary is-fullheight content" style="min-height: 100%;">
            <div class="hero-body has-text-centered">
              <div class="container">
                <h1 class="title">
                  Hero title
                </h1>
                <h2 class="subtitle">
                  Hero subtitle
                </h2>
              </div>
            </div>
          </section>
        </div>
        <div class="column first-page-right"><!-- add height when gets narrow calc(50% - 24.5px) and remove padding -->
          <section class="hero is-warning is-fullheight content" style="min-height: 100%;">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Hero title
                </h1>
                <h2 class="subtitle">
                  Hero subtitle
                </h2>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="install-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="columns second-page-container is-multiline is-gapless-tablet-only"> <!-- On tablet size add is-gapless and remove padding to add this values padding: 0px 0px 49px 0px -->
        <div class="column is-half" *ngFor="let item of items | async"> <!-- On mobile height set to 25% -->
          <a [routerLink]="['/detail', item.$key]">
          <div class="cover-img" style="height: 100%;" [ngStyle]="{'background-image': 'url(http://placehold.it/350x150)'}"> <!-- 'url(' + item.img + ')' -->
            <div class="flex">
              <div>
                <h1>{{item.title}}</h1>
              </div>
              <div class="text">{{item.subtitle}}</div>
              <div>Arrow</div>
            </div>
          </div>
          </a>
        </div>
        <!--<div class="column has-text-centered">
            <a class="button" [routerLink]="['/projects']">More projects...</a>
        </div>-->
      </div>
    </div>
  </div>
  <div class="section install-section fp-section fp-table">
    <div class="fp-tableCell">
      /about_me
    </div>
  </div>
</div>
