<div class="nav">
  <div class="inner-nav">
    <div class="nav-left">
      <span>/a!</span>
    </div>
    <div class="nav-right">
      <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
      <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
      <span><i class="fa fa-behance" aria-hidden="true"></i></span>
    </div>
  </div>
</div>

<div [mnFullpage]="options" [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true"
  [mnFullpageSlidesNavPosition]="bottom">
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="left">
        <div class="container">
          <div class="content">
            <a class="ajax" data-direction="from-right" href="http://nicolas-bussiere.com/projects/smcp" data-project="smcp">
              <h2>Project title here</h2>
              <span class="caption">type of work</span>
              <span class="arrow"><span class="inner"><i class="fa fa-arrow-right" aria-hidden="true"></i></span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="illustrations-container">
        <div class="illustration">
          <div class="illustration-inner to-load loaded" style="background-color:#f4f4f4;"><span style="background-image: url(https://s3.amazonaws.com/data.tackk.com/mio/26357928/13907916085242/large.jpg);"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section install-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="items">
        <div class="item" *ngFor="let item of items | async">
          <div class="content" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
            <div class="flex">
              <div>
                <h1>{{item.title}}</h1><a [routerLink]="['/detail', item.$key]">{{item.title}}</a>
              </div>
              <div class="text">{{item.subtitle}}</div>
              <div>Arrow</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section install-section fp-section fp-table">
    <div class="fp-tableCell">
      /about_me
    </div>
  </div>
</div>